*ข้อดีของการใช้ Docker คือ คุณไม่ต้องเตรียม XAMPP และ import ใด ๆ ทั้งสิ้นที่เขาเล่าในใบงานโจทย์ เพราะเราเตรียมไว้แบบ automatic อยู่แล้ว อิอิ*

# เชื่อมต่อ Jupyter Lab ไปยัง MySQL

เรียกใช้ module `ipython-sql`

In [ ]:
%load_ext sql

Login ด้วย username `root` และ password `secret` ไปยัง `db` เนื่องจากเราเอาไว้ทำแบบฝึกเท่านั้น ดังนั้นไม่ serious เรื่อง security ที่นี่

In [ ]:
%sql mysql+pymysql://root:secret@db/CompanyElmasri

ในการรันคำสั่ง SQL ให้นำหน้าด้วย `%sql` และพิมพ์คำสั่งไว้ภายในบรรทัดเดียวกัน หากต้องการเว้นบรรทัด ให้เขียน `\` ลงท้าย

**ตัวอย่าง** ต้องการเลือกทุกคอลัมน์ทุกแถวในตาราง `employee`

```sql
%sql SELECT * \
     FROM   employee;
```

*หมายเหตุ: SQL เป็นภาษา case-insensitive ดังนั้นไม่จำเป็นต้องใช้พิมพ์ใหญ่ทุกตัว เอาอาจจะพิมพ์ `select` แทนแบบนี้ก็ได้*

> ***Now, you're ready to go!***

# แบบฝึกหัด

## ข้อ 1

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT fname AS `First Name`, \
            minit AS `Middle init`, \
            lname AS `Last Name` \
     FROM   employee \
     WHERE  salary < 45000;
-->

## ข้อ 2

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT fname AS `First Name`, \
            minit AS `Middle init`, \
            lname AS `Last Name`, \
            salary AS `Salary` \
     FROM   employee \
     WHERE  ssn = "987987987";
-->

## ข้อ 3

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT ssn AS `SSN`, \
            fname AS `First Name`, \
            minit AS `Middle init`, \
            lname AS `Last Name`, \
            address AS `Address`, \
            bdate AS `Birthday` \
     FROM   employee \
     WHERE  bdate < "1965-01-01" \
            AND salary < 70000;
-->

## ข้อ 4

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT ssn AS `SSN`, \
            fname AS `First Name`, \
            minit AS `Middle init`, \
            lname AS `Last Name`, \
            salary AS `Salary` \
     FROM   employee \
     WHERE  super_ssn IS NULL;
-->

## ข้อ 5

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     --Not recommend because it queries 2 times.
     SELECT dname AS `Department` \
     FROM   department \
     WHERE  dnumber = (SELECT dno \
                       FROM   employee \
                       WHERE  fname = "Joyce" \
                              AND minit = "A" \
                              AND lname = "English" \
                      );
     
     หรือ
     
     SELECT dname AS `Department` \
     FROM   department \
     JOIN   employee ON dnumber = dno \
     WHERE  fname = "Joyce" \
            AND minit = "A" \
            AND lname = "English";
     
     หรือ
     
     SELECT dname AS `Department` \
     FROM   department, employee \
     WHERE  dnumber = dno \
            AND fname = "Joyce" \
            AND minit = "A" \
            AND lname = "English";
-->

## ข้อ 6

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT   ssn AS `SSN`, \
              fname AS `First Name`, \
              minit AS `Middle init`, \
              lname AS `Last Name` \
     FROM     employee \
     WHERE    lname LIKE "_a%s" \
     ORDER BY lname DESC, \
              fname;
-->

## ข้อ 7

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     --Not Recommended because it queries 2 times.
     SELECT   fname AS `First Name`, \
              minit AS `Middle init`, \
              lname AS `Last Name` \
     FROM     employee \
     WHERE    dno != (SELECT dnumber \
                      FROM   department \
                      WHERE  dname = "Headquarters" \
                     );
     
     หรือ

     SELECT   fname AS `First Name`, \
              minit AS `Middle init`, \
              lname AS `Last Name` \
     FROM     employee, department \
     WHERE    dno = dnumber \
              AND dname != "Headquarters";

     หรือ

     SELECT   fname AS `First Name`, \
              minit AS `Middle init`, \
              lname AS `Last Name` \
     FROM     employee \
     JOIN     department ON dno = dnumber \
     WHERE    dname != "Headquarters";
-->

## ข้อ 8

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT employee.ssn AS `SSN`, \
            project.pname AS `Project`, \
            works_on.hours AS `Hours` \
     FROM   works_on, \
            project, \
            employee \
     WHERE  pno = pnumber \
            AND essn = ssn \
            AND fname = "Alicia" \
            AND minit = "J" \
            AND lname = "Zelaya";

     หรือ

     SELECT essn AS `SSN`, \
            pname AS `Current Project`, \
            lname AS `Hours` \
     FROM   works_on \
     JOIN   project ON pno = pnumber \
     JOIN   employee ON essn = ssn \
     WHERE  fname = "Alicia" \
            AND minit = "J" \
            AND lname = "Zelaya";
-->

## ข้อ 9

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT   dname AS `Department`, \
              dlocation AS `Location` \
     FROM     department \
     JOIN     dept_locations \
       ON department.dnumber = dept_locations.dnumber \
     WHERE    dlocation IN ( \
                  "Houston", \
                  "Atlanta", \
                  "Dallas", \
                  "Sacramento" \
              ) \
     ORDER BY dname ASC;
-->

## ข้อ 10

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT ssn AS `SSN`, \
            fname AS `First Name`, \
            minit AS `Middle init`, \
            lname AS `Last Name`, \
            dependent_name AS `Depentdent Name`, \
            relationship AS `Relationship` \
     FROM   employee \
     JOIN   dependent ON ssn = essn \
     WHERE  relationship IN ( \
                                "Daughter", \
                                "Son" \
                            ) \
     ORDER BY ssn ASC, \
              dependent_name ASC;

     หรือ
     
     SELECT ssn AS `SSN`, \
            fname AS `First Name`, \
            minit AS `Middle init`, \
            lname AS `Last Name`, \
            dependent_name AS `Depentdent Name`, \
            relationship AS `Relationship` \
     FROM   employee, dependent \
     WHERE  ssn = essn \
            AND relationship IN ( \
                                    "Daughter", \
                                    "Son" \
                                ) \
     ORDER BY ssn ASC, \
              dependent_name ASC;
-->

## ข้อ 11

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT employee.fname AS `First Name`, \
            employee.minit AS `Middle init`, \
            employee.lname AS `Last Name`, \
            project.pname AS `Project`, \
            dept_locations.dlocation AS `Location`, \
            department.dname \
     FROM   works_on \
     JOIN   project ON works_on.pno = project.pnumber \
     JOIN   employee ON works_on.essn = employee.ssn \
     JOIN   dept_locations ON project.dnum = dept_locations.dnumber \
     JOIN   department ON department.dnumber = project.dnum \
     WHERE  department.dname = "Hardware" \
            AND department.dnumber = project.dnum \
     ORDER BY pname DESC;
-->

## ข้อ 12

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT ssn AS `SSN`, \
            fname AS `First Name`, \
            minit AS `Middle init`, \
            lname AS `Last Name` \
     FROM   employee \
     JOIN   department ON dno = dnumber \
     WHERE  dname = "Research" \
            AND ssn NOT IN (SELECT DISTINCT essn \
                            FROM   dependent \
                           );
-->

## ข้อ 13

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT employee.ssn AS E_SSN, \
            employee.fname AS E_Fname, \
            employee.minit AS E_Minit, \
            employee.lname AS E_Lname, \
            employee.salary AS E_Salary, \
            manager.ssn AS S_SSN, \
            manager.fname AS S_Fname, \
            manager.minit AS S_Minit, \
            manager.lname AS S_Lname, \
            manager.salary AS S_Salary, \
            ABS(employee.salary - manager.salary) AS Diff_Salary \
     FROM   employee, \
            department, \
            employee AS manager \
     WHERE  employee.dno = department.dnumber \
            AND manager.ssn = department.mgr_ssn \
            AND manager.dno = employee.dno \
            AND ABS(employee.salary - manager.salary) > 30000;
-->

## ข้อ 14

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT COUNT(*) AS `count` \
     FROM   employee \
     JOIN   department ON dno = dnumber \
     WHERE  dno = 7;
-->

## ข้อ 15

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT *  \
     FROM   employee, \
            department \
     WHERE  dno = dnumber \
            AND mgr_ssn = "111111100";
-->

## ข้อ 16

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT dname AS `Department`, \
            SUM(salary) AS `Total Salary`, \
            AVG(salary) AS `Average Salary`, \
            MAX(salary) AS `Max Salary`, \
            MIN(salary) AS `Min Salary` \
     FROM   department \
     JOIN   employee ON dno = dnumber \
     GROUP BY dname \
     ORDER BY `Total Salary` DESC;
-->

## ข้อ 17

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT dname AS `Department`, \
            pname AS `Project`, \
            SUM(hours) AS `Total Hours` \
     FROM   works_on \
     JOIN   project ON pno = pnumber \
     JOIN   department ON dnum = dnumber \
     WHERE  dname NOT IN ( \
                             "Headquarters", \
                             "Administration" \
                         ) \
     GROUP BY pname;
-->

## ข้อ 18

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT fname AS `First Name`, \
            minit AS `Middle Init`, \
            lname AS `Last Name`, \
            COUNT(*) AS `No. of Dependent` \
     FROM   dependent \
     JOIN   employee ON ssn = essn \
     GROUP BY essn \
     HAVING `No. of Dependent` >= 2 \
     ORDER BY `No. of Dependent` DESC;
-->

## ข้อ 19

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     SELECT dname AS `Department`, \
            pname AS `Project`, \
            SUM(hours) AS `Total Hours` \
     FROM   works_on \
     JOIN   project ON pno = pnumber \
     JOIN   department ON dnum = dnumber \
     WHERE  dname NOT IN ( \
                             "Headquarters", \
                             "Administration" \
                         ) \
     GROUP BY pname \
     HAVING `Total Hours` > 250 \
     ORDER BY `Total Hours`;
-->

## ข้อ 20

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     INSERT INTO department \
     (dname, dnumber, mgr_ssn, mgr_start_date) \
     VALUES ("Accounting", 2, "222222200", "1980-06-01");
-->

## ข้อ 21

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     INSERT INTO employee \
     (fname, lname, ssn, dno) \
     VALUES ("Jack", "Bloom", "222222222", 6);
-->

## ข้อ 22

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     UPDATE department \
     SET    mgr_start_date = "1995-02-01" \
     WHERE  dname = "Administration";
-->

## ข้อ 23

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     DELETE FROM department \
     WHERE  mgr_ssn = "222222200";
-->

## ข้อ 24

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     UPDATE employee \
     SET    salary = 1.05 * salary \
     WHERE  dno = (SELECT dnumber \
                   FROM   department \
                   WHERE  dname = "Research" \
                  ) \
            AND salary < 30000;
-->

## ข้อ 25

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     UPDATE works_on \
     SET    hours = 45 \
     WHERE  hours > 45 \
            AND essn IN (SELECT ssn \
                         FROM   employee \
                         JOIN   department ON dno = dnumber \
                         WHERE  dname = "Software" \
                        );
-->

## ข้อ 26

In [ ]:
# Your answer
%sql

*Double click ที่นี่เพื่อดูเฉลย*

<!--
     DELETE FROM works_on \
     WHERE  essn IN (SELECT ssn \
                     FROM   employee \
                     WHERE  super_ssn = "333445555" \
                    ) \
            AND pno IN (SELECT pnumber \
                        FROM   project \
                        WHERE  plocation = "Bellaire" \
                       );
-->